# .NET items
*.csproj.user
*.suo
*.sln
obj/
bin/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
_ReSharper*/
*.DotSettings.user

# Angular items
/secure-file-sharing-ui/node_modules/
/secure-file-sharing-ui/dist/
/secure-file-sharing-ui/.angular/
/secure-file-sharing-ui/.DS_Store